@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
width:100%;
}

.premiertroncon {
    width:100%;
    height:1000px;
    background-image:url("/Yolos/css/img/font_yolos.png");
    background-size: cover;
}
.top {
    width:100%;
    height:100px;
    z-index:1;
}

.nav_gauche {

    float:left;
    z-index:2;
    width:10%;
    height:100%;
    
    
}

.nav_droite {
    float:right;
    width:10%;
    height:100%;
    
    z-index:2;

}

.doublecouleur {
    width:100%;
    height:100%;
    z-index:1;
    clear:both;
}

.blanc {
    width:49.8%;
    height:100%;
    display: inline-block;
    margin:none;
    

}
.violet {
    width:49.9%;
    height:100%;
    margin:none;
     float:right;
    
}

/*chevrons*/

#chevron1 {
    position:relative;
    width:25px;
    top:-560px;
    left:-450px;
}

#chevron2 {
    position:relative;
    width:28px;
    top: 687px;
    left: 948px;

}

/*carré de gauche*/

.carrédegauche {
    position:absolute;
    bottom: 31%;
    margin:18px;
} 

div a {
    color:#1d1e31;

}

div a:hover {
    color: #8547ca;

}

#carré1,#carré2,#carré3 {
    width:31px;
    height:31px;
    background-color:#1d1e31;
}

#carré1:hover,#carré2:hover,#carré3:hover {
    background-color: #8547ca;
    cursor: pointer;
}

/*texte carré blanc*/

#bestdesign {
    color:#1d1e31;
    font-size:45px;
    font-weight:400;
    position:relative;
    left:235px;
    top:100px;
}

#mobile {
    color: #8547ca;
    font-size: 110px;
    font-weight:700 bold;
    text-transform: uppercase;
    position:relative;
    left:235px;
    top:10px
}

#readmore a{
    background-color: #1d1e31;
    display: inline;
    padding: 14px 60px;
    color:rgb(219, 216, 216);
    position:relative;
    left:235px;
    text-decoration: none;
}

#readmore a:hover {
    background-color: #fefdfc;
    display: inline;
    padding: 14px 60px;
    color:#1d1e31;
    position:relative;
    left:235px;
    text-decoration: none;
    border:1px solid #1d1e31;
}
/*menuburger*/

#menuburger {
    margin:50px;
    float:right;
}

/*phone*/

#phone {
    width:45%;
    position:relative;
    right:-120px;
    top:80px;
    z-index:1;
}

#uxos, #uxos a, #uxos a span {
    text-decoration: none;
    color:#8547ca;
    font-size: 24px;
    float: left;
    margin: 18px;
}

/*amazing*/

.amazing {
    background-color:#f8f9fa;
    width:100%;
    height:600px;
    display:inline-block;
    margin-top:100px;
    margin-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.amazingblock {
    display: inline-block;
    width:340px;
    height:250px;
    background-color:#f8f9fa;
    margin: 15px;
    font-size:20px;

}

.amazingblock:hover {
    display: inline-block;
    width:340px;
    height:250px;
    background-color:#8547ca;
    color:#f8f9fa;
    margin: 15px;
    font-size:20px;

}

.amazingblock p {
    text-align: left;
}

.amazingblock p strong {
    margin-left: 10%;
    margin-right: 10%;
}


.amazing h1 {
    padding:20px;
    font-size:40px;
}

.petitpoint {
    float:left;
    position:relative;
    left:20px;
    top:5px;
    z-index:2;
}

.styloplume {
    float:left;
    position:relative;
    left:10px;
    top:10px;
    z-index:2;
}

.rectangledef {
    float:left;
    position:relative;
    left:0px;
    top:30px;
    z-index:2;
}

.Readmore2 {
    background-color: #8c60bd;
    display: inline;
    padding: 14px 45px;
    color:white;
    position:relative;
    text-decoration:none;
    
}


.Readmore2:hover  {
    background-color:#f8f9fa;
    display: inline;
    padding: 14px 45px;
    color:#8c60bd;
    position:relative;
    text-decoration: none;
    border:1px solid #8c60bd;
}

.Readmore2 a:hover, .Readmore2:hover {
    text-decoration: none;
}

.Readmore2 a, .Readmore2 {
    text-decoration: none;
    color:#f8f9fa
}

/*fin amazing*/

/*download*/

.download {
    position:relative;
    top:-30px;
}

.entetedownload {
    background-color:#fefdfc;
    width:100%;
    height:100px;
    text-align: center;
    font-weight:900 lighter;
    font-size: 45px;
    color:#333456;
}

.colonnedown1 {
    background-color: #fefdfc;
    width:40%;
    height:900px;
    float:left;
}

.colonnedown2 {
    background-color: #fffdfd;
    width:20%;
    height:900px;
    display: inline-block;
}

#imgphone {
    width:75%;
    position:relative;
    left:47px;
    top:60px;
}

.colonnedown3 {
    background-color: #fefdfc;
    width:40%;
    height:900px;
    float:right;
}

/*sous-div*/

.downloadtheapp {
    background-color: #333456;
    color:white;
    width:48%;
    height:270px;
    position:relative;
    left:370px;
    top:100px;
    padding:20px;
}

.eazy {
    background-color: #333456;
    color:white;
    width:48%;
    height:270px;
    position:relative;
    left:370px;
    top:140px;
    padding:20px;
    
}

#readmore3 {
    background-color: #8c60bd;
    color:#fefdfc;
    padding-left:50px;
    padding-right: 50px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    display:inline;
    position:relative;
    top:230px;
    left:370px;
}

#readmore3:hover {
    background-color: #fefdfc;
    color:#8c60bd;
    padding-left:50px;
    padding-right: 50px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    display:inline;
    position:relative;
    top:230px;
    left:370px;
    border:1px solid #8c60bd;
}

 .colonnedown1 a, #readmore3 a:hover {
    text-decoration: none;
}

.connect {
    background-color: #333456;
    color:white;
    width:48%;
    height:270px;
    position:relative;
    left:25px;
    top:100px;
    padding:20px;
}

.enjoy {
    background-color: #333456;
    color:white;
    width:48%;
    height:270px;
    position:relative;
    left:25px;
    top:140px;
    padding:20px;
}

#dnow {
    background-color: #333456;
    color:#fefdfc;
    padding-left:50px;
    padding-right: 50px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    display:inline;
    position:relative;
    top:230px;
    left:25px;
}

#dnow:hover {
    background-color: #fefdfc;
    color:#333456;
    padding-left:50px;
    padding-right: 50px;
    padding-top:13px;
    padding-bottom:13px;
    text-decoration: none;
    display:inline;
    position:relative;
    top:230px;
    left:25px;
    border:1px solid #333456;
}

.colonnedown3 a, #dnow a:hover {
    text-decoration: none;
}

#cloud {
    float:left;
    padding:18px 10px;
    border:1px solid #fefdfc;
    margin-right:15px;
}

.downloadtheapp p {
    position: relative;
    color:#fefdfc;

}

.eazy p {
    position: relative;
    color:#fefdfc;
}

.connect p {
    position: relative;
    color:#fefdfc;
}

.enjoy p {
    position: relative;
    color:#fefdfc;
}

/*fin sous-div*/

