@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
width:100%;
}

.premiertroncon {
    width:100%;
    height:1000px;
    background-image:url("/Yolos/css/img/font_yolos.png");
    background-size: cover;
}
.top {
    width:100%;
    height:100px;
    z-index:1;
}

.nav_gauche {

    float:left;
    z-index:2;
    width:10%;
    height:100%;
    
    
}

.nav_droite {
    float:right;
    width:10%;
    height:100%;
    
    z-index:2;

}

.doublecouleur {
    width:100%;
    height:100%;
    z-index:1;
    clear:both;
}

.blanc {
    width:49.8%;
    height:100%;
    display: inline-block;
    margin:none;
    

}
.violet {
    width:49.9%;
    height:100%;
    margin:none;
     float:right;
    
}

/*chevrons*/

#chevron1 {
    position:relative;
    width:25px;
    top:-560px;
    left:-450px;
}

#chevron2 {
    position:relative;
    width:28px;
    top: 687px;
    left: 948px;

}

/*carré de gauche*/

.carrédegauche {
    position:absolute;
    bottom: 31%;
    margin:18px;
} 

div a {
    color:#1d1e31;

}

div a:hover {
    color: #8547ca;

}

#carré1,#carré2,#carré3 {
    width:31px;
    height:31px;
    background-color:#1d1e31;
}

#carré1:hover,#carré2:hover,#carré3:hover {
    background-color: #8547ca;
    cursor: pointer;
}

/*texte carré blanc*/

#bestdesign {
    color:#1d1e31;
    font-size:45px;
    font-weight:400;
    position:relative;
    left:235px;
    top:100px;
}

#mobile {
    color: #8547ca;
    font-size: 110px;
    font-weight:700 bold;
    text-transform: uppercase;
    position:relative;
    left:235px;
    top:10px
}

#readmore a{
    background-color: #1d1e31;
    display: inline;
    padding: 14px 60px;
    color:rgb(219, 216, 216);
    position:relative;
    left:235px;
    text-decoration: none;
}

#readmore a:hover {
    background-color: #fefdfc;
    display: inline;
    padding: 14px 60px;
    color:#1d1e31;
    position:relative;
    left:235px;
    text-decoration: none;
    border:1px solid #1d1e31;
}
/*menuburger*/

#menuburger {
    margin:50px;
    float:right;
}

/*phone*/

#phone {
    width:45%;
    position:relative;
    right:-120px;
    top:80px;
    z-index:1;
}

#uxos, #uxos a, #uxos a span {
    text-decoration: none;
    color:#8547ca;
    font-size: 24px;
    float: left;
    margin: 18px;
}

/*amazing*/

.amazing {
    background-color:#f8f9fa;
    width:100%;
    height:600px;
    display:inline-block;
    margin-top:100px;
    margin-bottom:100px;
    text-align: center;

}

.amazingblock {
    display: inline-block;
    width:400px;
    height:250px;
    background-color:white;
    margin: 15px;
    text-align: center;
    font-size:20px;
    
}

.amazing h1 {
    padding:20px;
    font-size:40px;
}