* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo1 {
    position:relative;
    top: -60px;
}

header {
    background-color: #f0f0f0;
}



ul {
    float: right;
    margin: 2%;
}

li {
    display: inline-block;
    padding: 25px;

}

.text1 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text2 {
    font-size: 20px;
    text-align: center;
}

.home-page {
    width:100%;
    height:1000%;
    background-color:#f0f0f0;
}

.mére {
    background-color: #f7f7f7;
    margin-left:auto;
    margin-right:auto;
    width:66.5%;
    height:1000%;
    
}

.text3 {
    font-size:30px;
    padding:4%;
    
}

.video {
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.spantxt1 {
  
}

.text-casquette {
    float:right
}