/*https://www.youtube.com/playlist?list=PL5BcU-_5Oa_o2nmu4eIVjrhxoT3jcQq8F      <-- Comprendre bootstrap */
/*https://www.youtube.com/watch?v=T8w0mZxc2E0&ab_channel=LeDesignerduWeb        <-- 3 technique pour rendre le texte responsive */
/*https://www.youtube.com/watch?v=pI9tS6P_RdY&ab_channel=DgeoDev                <-- menu burger */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    width: 100%;
}

html {
    --res: calc(0.01 * 10vmin);
}

.h_gauche {
    background-color: #ded7cf;
    border: 2px solid black;
    height: 80px;
    float: left;
}

.h_droit {
    background-color: #ffffff;
    border: 2px solid black;
    height: 80px;
    float: left;
}

.photo {
    background-color: darkcyan;
    height: 700px;
    float: left;
}

.a_propos {
    background-color: #ffffff;
    border: 2px solid black;
    height: 700px;
    float: left;
    text-align: center;
}

.competence {
    background-color: lightcoral;
    height: 700px;
    float: left;
}

.mecontacter {
    background-color: mediumaquamarine;
    height: 700px;
    float: left;
    clear: top;
}

.experience {
    background-color: wheat;
    height: 700px;
    float: left;
}

.f1 {
    background-color: antiquewhite;
    height: 80px;
}

.f2 {
    background-color: rgb(141, 179, 16);
    height: 80px;
}

.f3 {
    background-color: rgb(187, 107, 2);
    height: 80px;
}

/*------------------------------------------------------div du nom et prénom----------------------------------------------------------------------------------------*/
.nomprenom {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: calc(40 * var(--res));
}

/*----------------------------------------------------div de la bar de navigation------------------------------------------------------------------------------------*/
.barnav {
    background-color: #ffffff;
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.barnav,
.li_barnav {
    list-style: none;
    display: inline;
}

.lien1 {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;

}

.lien1:hover {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #bba58a;

}

/* jusqu'à max 764 pixel , je veux les changement ci-dessous */

@media	screen and (max-width: 764px) {

    .h_droit {
        display: none;
    }

    .h_gauche {
        display: none;
    }

    .h_gauche2 {
        background-color: #ded7cf;
        border: 2px solid black;
        height: 80px;
        float: left;
        text-align: center;

    }

    .gauche1 {
        display: inline-block;
        width: 20%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .gauche2 {
        display: inline-block;
        width: 78%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: calc(40 * var(--res));
    }

    .img_menu_burger {
        width: 65px;
    }

}

/* de minimum 765 pixel jusqu'au max, je veux les changement ci-dessous */

@media screen and (min-width: 765px) {

    .h_gauche2 {
        display: none;
    }
}

/*---------------------------------------------------------div de l'image du profil----------------------------------------------------------------------------------------*/
.imageprofil {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/*---------------------------------------------------------div a propos-------------------------------------------------------------------------------------------------------*/
.h1_presentation {
    text-align: center;
    margin-top: 200px;
    font-family: 'Questrial', sans-serif;
    font-size: calc(30 * var(--res));
}

.p_presentation {
    text-align: center;
    margin-top: 50px;
    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
}

.lien_presentation {

    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
    top: 20%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lien_presentation:hover {

    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
    text-decoration: none;
    color: #1a1a1a;
    opacity: 50%;
    top: 20%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.span_presentation {
    margin-top: 600px;
}








/*création d'un menu burger
.img_menu_burger {
    width: 45px;
    height: 45px;
    border:none;
    background:transparent;
    cursor: pointer;
    position: relative;
    top:50%;
    transform:translateY(-70%);
}
 les barres du menu burger
.bar {
    display: block;
    width:45px;
    height:4px;
    background:#1a1a1a;
    border-radius: 3px;
}

.bar::before, .bar::after {
    width:45px;
    height:4px;
    background:#1a1a1a;
    border-radius: 3px;
    position:absolute;
    left:0;
    content:"";
}

.bar::before {
    transform:translateY(-12px);
}

.bar::after {
    transform:translateY(12px);
}*/


 /*le menu ouvert

 .navbar__links {
    display: flex;
    flex-direction: column;
    width:100%;
    height:calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right:0;
    background-color: white;
}


.show-nav .navbar__links {

}
.navbar__link > a {
    display: block;
    padding:1rem;
    font-size: 1.6rem;
    transition:all .4s ease-in-out;
}

.navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
}


.navbar__link > a {
    text-decoration: none;
    color:#1a1a1a;
}
}*/