* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}


.container1 {
    letter-spacing: 3px;
}

html {
    --res: calc(0.01 * 10vmin);
    font-size: calc(16 * var(--res));
}

/*---------------------------------------squelette---------------------------------------------------------------*/
.h_gauche {
    background-color: #ded7cf;
    border: 2px solid black;
    height: 80px;
    float: left;
}

.h_droit {
    background-color: #ffffff;
    border: 2px solid black;
    height: 80px;
    float: left;
    position: relative;
}

/*------------------------------------------------------div du nom et prénom-------------------------------------------------------------------*/
.nomprenom {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: calc(40 * var(--res));
}

/*----------------------------------------------------------ecriture menu au format smartphone----------------------------------------------*/
.petit_menu {
    font-family: 'Questrial', sans-serif;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 24px;
}

/*----------------------------------------------------------fin ecriture menu au format smartphone----------------------------------------------*/
/*------------------------------------------------------barre de navigation-------------------------------------------------------------------*/
.barnav {
    background-color: #ffffff;
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.barnav,
.li_barnav {
    list-style: none;
    display: inline;
}

.lien1 {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;

}

.lien1:hover {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #bba58a;

}

.lien2 {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #bba58a;

}

.lien2:hover {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #bba58a;

}

/*------------------------------------------------------fin de la barre de navigation-------------------------------------------------------------------*/

/* jusqu'à max 764 pixel , je veux les changement ci-dessous */

@media	screen and (max-width: 764px) {

    .toggle .fermer {
        display: none;
    }

    .toggle .ouvrir {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 45px;
        cursor: pointer;
    }

    .h_gauche .nomprenom {
        font-size: 30px;
    }

    .h_gauche2 {
        background-color: #ded7cf;
        border: 2px solid black;
        height: 80px;
        float: left;
        text-align: center;

    }

    .gauche1 {
        display: inline-block;
        width: 20%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .gauche2 {
        display: inline-block;
        width: 78%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: calc(40 * var(--res));
    }

    .mecontacter .p_contact,
    .mecontacter .lien_contact,
    .mecontacter .lien_contact:hover {
        font-size: 20px;
    }

    .h_droit {
        position: relative;
    }

    .open .fermer {
        display: block;
        z-index: 25;
        position: absolute;
        top: -120%;
        right: 0%;
        padding: 2rem;
        font-size: 55px;
        cursor: pointer;
        /*quand le menu est ouvert afficher mon icon fermer*/
    }

    .barnav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -105%;
        text-align: center;
        left: 0%;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        justify-content: space-around;
        z-index: 19;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .open .barnav {
        transform: translateX(0%);
        /* si le menu est ouvert il revient a sa position de départ */
    }

    .barnav li a,
    .barnav li a:hover {
        font-size: 2rem;
    }

}

/* de minimum 765 pixel jusqu'au max, je veux les changement ci-dessous */

@media screen and (min-width: 765px) {

    .h_gauche2 {
        display: none;
    }

    .toggle .fermer,
    .toggle .ouvrir {
        display: none;
    }

    .petit_menu {
        display: none;
    }

}

/*-- fin des media querry --*/

.parent01 {
    height: 100%;
    position: relative;
}

.box01 {
    background-color: #ffffff;
    height: 120vh;
    float: left;
}

.presentation01 {
    position: absolute;
    top: 27vh;
    left: 23vw;
    font-size: calc(24 * var(--res));
}

.hr01 {
    width: 23vw;
    position: absolute;
    top: 30vh;
    left: 23vw;
}

.presentation02 {
    position: absolute;
    top: 35vh;
    left: 23vw;
}

.box02 {
    background-color: #ffffff;
    height: 120vh;
    display: inline-block;
}

.presentationb01 {
    position: absolute;
    top: 35vh;
}

.hr02 {
    width: 23vw;
    position: absolute;
    top: 30vh;
}

.moncv {
    position: absolute;
    top: 52vh;
    left: 51vw;
    color:#bba58a;
}

.moncv:hover {
    position: absolute;
    top: 52vh;
    left: 51vw;
    color:#8a755b;
}

.mesprojet {
    position: absolute;
    top: 66vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    border-bottom: 1px solid #1a1a1a;
}

.img_git {
    position: absolute;
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border-radius: 50%;
    border: 2px solid #1a1a1a;
}

.gt_hb {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:22%;
    color:#bba58a;
}

.gt_hb:hover {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:22%;
    color:#8a755b;
}

.lk_ {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:25%;
    color:#bba58a;
}

.lk_:hover {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:25%;
    color:#8a755b;
}

.f_b {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:28%;
    color:#bba58a;
}

.f_b:hover {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    left:28%;
    color:#8a755b;
}

.footer {
    position: relative;
    background-image: url("/cv_29-06-22/css/img/footer.png");
    width:100%;
    height:10vh;
    border-top:1px solid black;
    margin:0%;
    padding:0%;
}

.copyright {
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    font-weight: 100;
}

