@media screen and (max-width:768px) {
    /*icon menu burger*/
    .menu_burger {
        width: 45px;
        height: 45px;
        position: absolute;
        top:50px;
        right: 25px;
        transform: translateY(-50%);
        border-radius: 20%;
        border:#ffff;
        background-color: #1a1a1a;
        cursor:pointer;
    }
    
    .mb01 {
        width: 35px;
        height: 5px;
        background-color: #ffff;
        position: absolute;
        left: 3px;
        top: 20px;
    }
    
    .mb02 {
        width: 35px;
        height: 5px;
        background-color: #ffff;
        position: absolute;
        left: 3px;
        top: 5px;
    }
    
    .mb03 {
        width: 35px;
        height: 5px;
        background-color: #ffff;
        position: absolute;
        left: 3px;
        bottom: 5px;
    }   
    
    /*menu*/
    .container1 {
        width:100%;
        height:800px;
        background-color: #1a1a1a;
        position: relative;
        
    }

    .menu_burger02 {
    list-style: none;
    text-align: center;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:15%
    
    
    }

    .li_burger {
        margin:15px;
        padding:15px;
    }

    .lien1 {
    text-decoration: none;
    color:#ffff;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    
    }
}