/*https://www.youtube.com/playlist?list=PL5BcU-_5Oa_o2nmu4eIVjrhxoT3jcQq8F      <-- Comprendre bootstrap */
/*https://www.youtube.com/watch?v=T8w0mZxc2E0&ab_channel=LeDesignerduWeb        <-- 3 technique pour rendre le texte responsive */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    width: 100%;
    letter-spacing:3px;
}

html {
    --res: calc(0.01 * 10vmin);
    font-size: 16px;
}

/*---------------------------------------squelette---------------------------------------------------------------*/

.h_gauche {
    background-color: #ded7cf;
    border: 2px solid black;
    height: 80px;
    float: left;
}

.h_droit {
    background-color: #ffffff;
    border: 2px solid black;
    height: 80px;
    float: left;
    position: relative;
}

.photo {
    background-color: darkcyan;
    height: 700px;
    float: left;
    border: 2px solid black;
}

.a_propos {
    background-color: #ffffff;
    border: 2px solid black;
    height: 700px;
    float: left;
    text-align: center;
    position: relative;
}

.competence {
    height: 700px;
    float: left;
    background-color: #1a1a1a;
    border: 2px solid black;
    position: relative;
    text-align: center;
}

.mecontacter {
    background-color: #ded7cf;
    height: 700px;
    float: left;
    clear: top;
    position: relative;
    border: 2px solid black;
}

.experience {
    background-image: url("/cv_29-06-22/css/img/git_logo.jpg");
    background-size: 1000px;
    background-position: 50%;
    height: 700px;
    float: left;
    position: relative;
    border: 2px solid black;
}

.f1 {
    background-color: #ffffff;
    height: 80px;
    border: 2px solid black;
    position: relative;
    text-align: center;
    letter-spacing:3px;
}

.f2 {
    background-color: #ffffff;
    height: 80px;
    border: 2px solid black;
    position: relative;
    text-align: center;
    letter-spacing:3px;
}

.f3 {
    background-color: #ffffff;
    height: 80px;
    border: 2px solid black;
    position: relative;
    text-align: center;
    letter-spacing:3px;
}

/*------------------------------------------------------div du nom et prénom----------------------------------------------------------------------------------------*/
.nomprenom {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: calc(40 * var(--res));
}

/*----------------------------------------------------div de la bar de navigation------------------------------------------------------------------------------------*/

/*---------------------------------------------------icon menu burger----------------------------------------------------------------------*/
.menu_burger {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    border-radius: 20%;
}

.mb01 {
    width: 35px;
    height: 5px;
    background-color: #1a1a1a;
    position: absolute;
    left: 3px;
    top: 20px;
}

.mb02 {
    width: 35px;
    height: 5px;
    background-color: #1a1a1a;
    position: absolute;
    left: 3px;
    top: 8px;
}

.mb03 {
    width: 35px;
    height: 5px;
    background-color: #1a1a1a;
    position: absolute;
    left: 3px;
    bottom: 5px;
}

/*-----------------------------------------------------------------------fin icons menu burger----------------------------------------------*/
/*----------------------------------------------------------ecriture menu au format smartphone----------------------------------------------*/
.petit_menu {
    font-family: 'Questrial', sans-serif;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 24px;
}

/*----------------------------------------------------------fin ecriture menu au format smartphone----------------------------------------------*/
/*------------------------------------------------------barre de navigation-------------------------------------------------------------------*/
.barnav {
    background-color: #ffffff;
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.barnav,
.li_barnav {
    list-style: none;
    display: inline;
}

.lien1 {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;

}

.lien1:hover {
    text-decoration: none;
    padding-right: 50px;
    font-size: calc(20 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #bba58a;

}

/*------------------------------------------------------fin de la barre de navigation-------------------------------------------------------------------*/

/* jusqu'à max 764 pixel , je veux les changement ci-dessous */

@media	screen and (max-width: 764px) {

    .toggle .fermer {
        display: none;
    }

    .toggle .ouvrir {
        position: absolute;
       right:5%;
       top:50%;
       transform:translateY(-50%);
       font-size: 45px;
       cursor: pointer;
    }

    .h_gauche .nomprenom {
        font-size: 30px;
    }

    .h_gauche2 {
        background-color: #ded7cf;
        border: 2px solid black;
        height: 80px;
        float: left;
        text-align: center;

    }

    .gauche1 {
        display: inline-block;
        width: 20%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .gauche2 {
        display: inline-block;
        width: 78%;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: calc(40 * var(--res));
    }

    .mecontacter .p_contact,
    .mecontacter .lien_contact,
    .mecontacter .lien_contact:hover {
        font-size: 20px;
    }

    .h_droit {
        position: relative;
    }

    .open .fermer {
        display: block;
        z-index: 25;
        position: absolute;
        top: -120%;
        right: 0%;
        padding: 2rem;
        font-size: 55px;
        cursor: pointer;
        /*quand le menu est ouvert afficher mon icon fermer*/
    }

    .barnav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -105%;
        text-align: center;
        left: 0%;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        justify-content: space-around;
        z-index: 19;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .open .barnav {
        transform:translateX(0%); /* si le menu est ouvert il revient a sa position de départ */
    }

    .barnav li a,
    .barnav li a:hover {
        font-size: 2rem;
    }

}

/* de minimum 765 pixel jusqu'au max, je veux les changement ci-dessous */

@media screen and (min-width: 765px) {

    .h_gauche2 {
        display: none;
    }

    .toggle .fermer,.toggle .ouvrir {
        display:none;
    }

    .petit_menu {
        display:none;
    }

}

/*-- fin des media querry --*/

/*---------------------------------------------------------div de l'image du profil----------------------------------------------------------------------------------------*/
.imageprofil {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/*---------------------------------------------------------div a propos-------------------------------------------------------------------------------------------------------*/
.h1_presentation {
    text-align: center;
    margin-top: 180px;
    font-family: 'Questrial', sans-serif;
    font-size: calc(30 * var(--res));
}

.p_presentation {
    text-align: center;
    margin-top: 50px;
    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
}

.lien_presentation {

    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
    text-decoration: none;
    color: #1a1a1a;
    position: absolute;
    bottom: 5%;
    text-align: center;
    transform: translateX(-50%);
}

.lien_presentation:hover {

    font-family: 'Questrial', sans-serif;
    font-size: calc(24 * var(--res));
    font-weight: 100;
    text-decoration: none;
    color: #1a1a1a;
    opacity: 50%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    transform: translateX(-50%);
}

.span_presentation {
    margin-top: 600px;
}

/* taille des écrit en format smartphone */

@media screen and (max-width: 768px) {

    .h1_presentation {
        font-size: 30px;
    }

    .p_presentation {
        font-size: 24px;
    }

    .lien_presentation {
        font-size: 24px;
    }

    .lien_presentation:hover {
        font-size: 24px;
    }


    .competence .lien_comp,
    .competence .text_comp {
        font-size: 24px;
    }

}

/* fin taille des ecrit au format smartphone */

/*---------------------------------------------image poste de travail--------------------------------------------------------------------------*/

.imagebureau {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/*---------------------------------------------------compétence--------------------------------------------------------------------------------------*/
.c1 {
    position: relative;
    height: 100px;
    margin-top: 10%;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-5%);

}

.c2 {
    height: 100px;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-5%);
}

.c3 {
    height: 100px;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-5%);
}

.c4 {
    height: 100px;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-5%);
}

.c5 {
    height: 100px;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-5%);
}

.text_comp {
    font-size: calc(30 * var(--res));
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    display: inline;
}

.img_comp {
    width: 5vh;
    height: 5vh;
    float: left;
    margin-left: 40px;
    object-fit: cover;
}

.lien_comp {
    text-align: center;
    font-size: calc(24 * var(--res));

    text-decoration: none;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

/*-----------------------------------------me contacter---------------------------------------*/

.info {
    height:700px;
}

.p_contact {
    text-align: center;
    font-size: calc(24 * var(--res));
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.lien_contact {
    text-decoration: none;
    color: #1a1a1a;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    font-size: calc(20 * var(--res));
    display: inline;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.lien_contact:hover {
    text-decoration: none;
    color: #1a1a1a;
    font-family: 'Questrial', sans-serif;
    font-size: calc(20 * var(--res));
    opacity: 50%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

/*-----------------------------------------experience---------------------------------------*/

.lien_exp {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    font-weight: 200;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.lien_exp:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    opacity: 50%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.p_exp {
    font-size: 100px;
    font-family: 'Titan One', cursive;
    color: #341d01;
    display: inline;
    -webkit-text-stroke: 3px #ded7cf;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/*-------------------------------------------------footer-----------------------------------------------------------------------------------------*/
.lienf {
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;
    font-weight: lighter;
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
}

.lienf:hover {
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #1a1a1a;
    opacity: 50%;
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
}