* {
    box-sizing: border-box;
}

.logo {
    width: 200px;
    height: 200px;
    background: yellow;
    float: left;
}

.B1 {
    width: 650px;
    height: 100px;
    background: aqua;
    float: right;

}

.B2 {
    width: 650px;
    height: 100px;
    background: rgb(148, 149, 149);
    float: right;
}

nav ul {
    background: white;
    border: 1px solid black;

}

li {
    display: inline-block;
    padding: 0 35px 0 35px;
    margin: 10px;
}

li a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corp {
    width: 850px;
    height: 838px;
    background: beige;

}

.gauche {
    width: 650px;
    height: 500px;
    background: green;
    float: left;

}

.droite {
    /*faute*/
    width: 200px;
    height: 500px;
    background: rgb(0, 13, 128);
    float: right;

}

footer {
    background: black;
    height: 70px;
    width: 850px;
    clear: both;

}

li a:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgb(158, 157, 157);
    color: red;

}

p {
    color: white;
}